<html {% block html_attrs %}{% endblock %}>
<head>

    {#metas  #}
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block metas %}{% endblock metas %}
    {#metas #}

    {#标题#}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>毕设系统</title>
    {% endif %}
    {#标题#}


    {#自定义mystyle#}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}"/>
    {% block mystyle %}{% endblock mystyle %}
    {#自定义mystyle#}

    {#自定义myjavascript#}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.validate.js') }}"></script>
    <script src="{{ url_for('static',filename='js/messages_zh.js') }}"></script>


    <script type="text/javascript">
        $(function () {
            $("#warning-block").toggle(3000)
            $("#warning-block").click(function () {
                $(this).hide();
            });
        });
    </script>

    {% block myjs %}{% endblock myjs %}
    {#自定义myjavascript#}


</head>

<body {% block body_attrs %}{% endblock %}>
<dev id="_header"></dev>

{#导航栏 #}
{% block navbar %}{% endblock navbar %}
{#导航栏 #}

{#闪现#}
{% block flash %}{% endblock %}
{#闪现#}


{#内容#}
{% block content %}{% endblock content %}
{#内容#}


{#尾部#}
{% block footer %}
    {% include "common/footer.html" %}
{% endblock footer %}
{#尾部#}

</body>
</html>
