{% macro render_field(field,check=False,radio=False) %}

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <div class="col-sm-9">
            {% if field.errors %}
                <ul class="help-block">
                    {% for error in field.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if radio %}

                {{ field }}

            {% elif check %}
                <label>
                    {{ field }}
                    {{ field.label.text }}

                </label>


            {% else %}
                {{ field(placeholder=field.label.text )|safe }}
            {% endif %}

        </div>
    </div>

{% endmacro %}


