<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">毕设系统</a>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="person-nav"><a href="#">个人</a></li>
                <li id="invoice-nav"><a href="#">发票</a></li>
                <li id="bill-nav"><a href="#">账单</a></li>
                <li id="account-nav"><a href="#">账单条目</a></li>
                <li id="approval-nav"><a href="#">审批单</a></li>
                <li id="fundbook-nav"><a href="#">经费本</a></li>
                <li id="fund-nav"><a href="#">经费条目</a></li>
                <li id="subject-nav"><a href="#">科目表</a></li>
            </ul>
        </div>
    </div>
</nav>
